.calculator {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
  margin-top: 40px;
}

.input {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px;
  width: 98%;
  border-bottom: 2px solid #111;
  color: rgb(112, 111, 111);
  text-align: right;
  font-size: 40px;
  border-radius: 0;
  background-color: #0000007a;
}

.cal-style {
  background: rgba(212, 205, 205, 0.5);
  border: 1px solid #111;
  padding: 20px;
  color: rgb(10, 10, 10);
  font-size: 22px;
  cursor: pointer;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.is-zero {
  grid-column: span 2;
}

.is-orange {
  background-color: rgb(253 114 22 / 79%);
}

p {
  text-align: right;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: 2px;
  color: white;
}
